# .env

# Ollama Connection
OLLAMA_BASE_URL=http://localhost:11434

# First Admin / Root Account
WEBUI_ADMIN_EMAIL=admin@example.com
WEBUI_ADMIN_PASSWORD=YourSecurePassword123

# Security & Session (Generate a strong random string)
WEBUI_SECRET_KEY=change-this-to-a-random-secret-key

# Optional: Set to False if you do not want public users signing up
ENABLE_SIGNUP=True

# Antropic API key
ANTHROPIC_API_KEY = ""